
.background-image{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: cyan ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }

  h1 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .container-fluid{
    justify-content: center;
    width: 50%;
    align-items: center;
    
    font-family: Poppins;
    height: 100%;
  }
  @media(max-width:700px){
    .container-fluid{
      width: 100%;
    }
  }
  
  
  
  .lblError{
    color:red;
  }
  
  .Sign_up_options{
    text-align: center;
  }
  
  .Sign_up_options  a{
    text-decoration: none;
    margin: 10px 10px;
  }
  
  .fa-google{
    color: red;
  }
  
  .fa-facebook{
    color: blueviolet;
  }
  
  