a, a i{
    cursor: pointer;
}
.navbar{
    box-shadow: 0px 2px 5px gray;
}

.side-nav a{
    color: black;
    font-size: 1.1rem;
}

.side-nav a:hover{
    text-decoration: none;
}

.sidenav-content li{
    list-style: none;
    margin-left: -1.5rem;
}

mat-sidenav{
    width: 20%;
}

i{
    margin: 1rem 1rem 0 0;
}

.nav-icon{
    margin: auto;
    margin-right: 1rem;
}

.menu-icon{
    margin: auto;
    font-size: 2rem;
    color: black;
    border: 2px solid black;
    border-radius: 0.3rem;
}

.search-button{
    background-color: cyan;
    border: none;
}
.search-icon{
    border: 1px solid gray;
    margin: 0.5rem 0 0 -0.6rem;
    font-size: 2.2rem;
    border-radius: 0.3rem;
    background-color: rgb(252, 174, 7);
}

.loc-icon{
    margin: 0.5rem 0 0 -0.6rem;
    font-size: 1.8rem;
    color: darkblue;
}

.location-icon, .cart-icon{
    margin-top: -0.2rem;
    margin-bottom: -2rem;
}

.menu-button{
    margin-bottom: -2rem;
}

.cart-icon i{
    font-size: 2.2rem;
}


@media all and(min-width:811px){
    .location-mob{
        display: none;
    }
}

@media all and(max-width: 813px){
    mat-sidenav{
        width: auto;
    }

    nav{
        width: 100%;
    }
    .mini-nav{
        width: 100%;
        margin-bottom: -1rem;
        margin-top: -0.5rem;
    }
    .mob-search{
        width: 100%;
        float: none;
    }

    .mob-search input{
        width: 90%;
    }

    .mob-search button{
        width: 10%;
    }
    
    .location{
        display: none;
    }

    .location-mob{
        width: 100%;
    }

    .location-mob i{
        width: 10%;
    }

    .location-mob form{
        width: 90%;
    }

    .location-mob input{
        width: 80%;
    }

    .location-mob button{
        width: 20%;
        background-color: white;
        height: 2rem;
    }

    .location-mob i{
        margin: auto;
    }

    .cart-icon{
        float: right;
        margin-top: -1.5rem;
    }

    .title{
        font-size: x-large;
    }

    .menu-icon{
        font-size: x-large;
    }
}