<app-navbar>
    <div class="noOrders" *ngIf="!orderSummaries">
        <h6>No Orders Placed!</h6>
    </div>
    <div class="orders d-block" *ngFor="let summary of orderSummaries">
        <div class="orderDetails d-block" *ngFor="let details of orderDetails">
            <p class="d-inline">{{details.medicineName}}</p>
            <p class="d-inline pull-right"><small>Price:</small> Rs.{{details.finalPrice}}</p>
            <p class="d-inline pull-right">Quantity: {{details.quantity}}</p>
        </div>
        <p><strong>Ordered On:</strong> {{summary.orderedOn}}</p>
        <p><strong>Total Price: </strong>{{summary.totalPrice}}</p>
        <p><strong>Deliver To:</strong>
            <br>{{summary.addressLine1}}
            <br>{{summary.addressLine2}}
            <br>{{summary.city}}, {{summary.state}}
            <br>{{summary.pinCode}}
        </p>
    </div>
</app-navbar>
