header {
  background-color: #333;
  color: #fff;
  overflow: auto;
  position: sticky;
  top:0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

body{
  margin-top: 150px ;
}
mat-icon {
  cursor: pointer;
}
.action-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.table {
  padding: 20px;
}

.table tbody tr td,
.table thead th,
.table thead {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 18px;
  width: 100%;
}
.table thead{
  background-color: darkkhaki;
}
.table thead th{
  text-align: center;
}
.table tbody tr, td{
  text-align: center;
}
.output {
  padding: 20px;
}

.delete {
  color: red  ;
}

.done {
  color: green;
}

.edit {
  color: yellow;
}
span.ui-column-resizer {
  width: 100%;
  height: 100%;
  cursor: col-resize;
  padding: 30px;

}
