
<app-navbar-supplier>

  <body>
  <div class="container-fluid">
  <form [formGroup]="userTable">
      <table class="table table-border" [ngClass]="{'table-dark': mode}" style = "background-color:#DDD6D6;">
        <thead class="text-nowrap">
          <th>Medicine Name<span class="ui-column-resizer" > </span></th>
          <th>Manufacturing Date<span class="ui-column-resizer" > </span></th>
          <th>Expiry Date<span class="ui-column-resizer" > </span></th>
          <th>Quantity </th>
          <th>Discount (in %)</th>
          <th>Price (of single unit)</th>
          <th></th>
        </thead>
        <tbody>
          <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls ; let i=index">
            <tr *ngIf="group.get('isEditable').value" [formGroupName]="i">
             
              <td>
                <mat-form-field>
                  <input matInput type="text" formControlName="medicineName">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput type = "date" formControlName="manufacturingDate">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput type = "date" formControlName="expDate">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput type="number" formControlName="stock">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                    <input matInput type="text" formControlName = "discount">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput type="text" formControlName="price">
                </mat-form-field>
              </td>
              <td>
                <mat-icon class="delete" (click)="deleteRow(i)">delete_forever</mat-icon>
                <mat-icon class="done" (click)="doneRow(group)">done</mat-icon>
              </td>
            </tr>
            <tr *ngIf="!group.get('isEditable').value" >
              <td>
                {{group.get('medicineName').value}}
              </td>
              <td>
                {{group.get('manufacturingDate').value}}
              </td>
              <td>
                {{group.get('expDate').value}}
              </td>
              <td>
                  {{group.get('stock').value}}
              </td>
              <td>
                  {{group.get('discount').value}}
              </td>
              <td>
                {{group.get('price').value}}
              </td>
              <td>
                <mat-icon class="edit" (click)="editRow(group)">edit</mat-icon>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="action-container">
        <button mat-raised-button type="submit" (click)="addRow()">Add row</button>
        <button mat-raised-button [disabled]="userTable.invalid" type="submit" (click)="submitForm()">Submit</button>
      </div>
    </form>
  </div>
  </body>
</app-navbar-supplier>