<mat-sidenav-container style="font-family: Poppins;">
    <mat-sidenav #sidenav mode="over" class="side-nav" type="button" fixedInViewport="true">
        <nav class="navbar" style="background-color: cyan;">
            <span class="navbar-brand mb-0 h1">
                <a>
                    <i class="material-icons nav-icon">account_circle</i>
                    Hello,{{username}}
                </a>
            </span>
        </nav>
        <div class="sidenav-content">
            <ul>
                <li><a (click)="addPrescription()"><i class="material-icons">article</i>Upload prescription</a></li>
                <li><a [routerLink]="['/orders']"><i class="material-icons">filter_frames</i>My Orders</a></li>
            </ul>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>

        <nav class="navbar  fixed-top" style="background-color: cyan;">
            <a class="example-icon btn" (click)="sidenav.toggle()" mat-icon-button 
                aria-label="Example icon-button with menu icon" class="mr-sm-2">
                <i class="material-icons menu-icon">menu</i>
            </a>
            <h4 class="pull-left mr-auto title">MEDWAY</h4>
            <button mat-raised-button class="btn btn-danger" (click)="logout()">Log out</button>
        </nav>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>