
<app-navbar-supplier>
  
      
  <body>
    <div class = "form-inline search-bar">
      <input class = "form-control mr-sm-2 "  [(ngModel)]="searchText" placeholder="Search By Name " />
      <button class="btn btn-outline-success my-2 my-sm-0" type = "submit" (click) = "search()">search</button>
    </div>
  <form class = "table-content" [formGroup]="userTable">
      <table class="table table-border" [ngClass]="{'table-dark': mode}" style = "background-color:#DDD6D6;">
        <thead class="text-nowrap">
          <th>Medicine Name </th>
          <th>Manufacturing Date </th>
          <th>Expiry Date </th>
          <th>Quantity </th>
          <th>Discount (in %)</th>
          <th>Price (of single unit)</th>
          <th></th>
        </thead>
        <tbody>
          <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls ; let i=index">
            <tr *ngIf="group.get('isEditable').value" [formGroupName]="i">
              <td>
                {{group.value.compositeKey.medicineName}}
              </td>
              <td>
                <mat-form-field>
                  <input matInput type = "date" formControlName="manufacturingDate">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput type = "date" formControlName="expDate">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput type="number" formControlName="stock">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                    <input matInput type="text" formControlName = "discount">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput type="text" formControlName="price">
                </mat-form-field>
              </td>
              <td>
                <mat-icon class="done" (click)="doneRow(group)">done</mat-icon>
              </td>
            </tr>
            <tr *ngIf="!group.get('isEditable').value" >
              <td>
                {{group.value.compositeKey.medicineName}}
              </td>
              <td>
                {{group.value.manufacturingDate}}
              </td>
              <td>
                {{group.value.expDate}}
              </td>
              <td>
                  {{group.value.stock}}
              </td>
              <td>
                  {{group.value.discount}}
              </td>
              <td>
                {{group.value.price}}
              </td>
              <td>
                <mat-icon class="edit" (click)="editRow(group)">edit</mat-icon>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="pull-right">
        <button class = "btn btn-primary" [disabled]="userTable.invalid" type="submit" (click)="submitForm()">Submit</button>
      </div>
    </form>
  </body>
</app-navbar-supplier>