<body>
  <app-navbar>

    <div class="container-fluid" style="margin-top: 5rem;min-height: 100vh;">

      <button mat-raised-button class="btn btn-primary pull-right" (click)="openUploadDialog()">Upload prescription</button>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Prescription Id</th>
            <th scope="col">Medicines</th>
            <th scope="col">Prescription Content</th>
            <th scope="col">Use</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let medicine of medicines;index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{medicine.medicineName}}</td>
            <td>Content</td>
            <td><button mat-raised-button (click)="medicineList()">use</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </app-navbar>
</body>