
<div class="background-image">
<div class="container-fluid">
  <h1 style="text-align:center"><a href="#">MEDWAY</a></h1>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

        <h3 style="text-align:center">
            Sign Up
        </h3>

        <div class="form-group">
          <!-- Username -->
          <label for="name">Name: <span class="lblError">*</span></label>
          <div class="controls">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </span>
              </div>
              <input type="text" id="name" placeholder="Name" class="form-control" formControlName="name">
            </div>
            <p class="lblError" *ngIf="signupForm.get('name').hasError('required')
                        && !signupForm.get('name').pristine">
                Name is Required
            </p>
          </div>
    </div>


        <div class="form-group">
              <!-- Username -->
              <label for="username">Username: <span class="lblError">*</span></label>
              <div class="controls">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                  </div>
                  <input type="text" id="username" placeholder="Username" class="form-control" formControlName="user_name">
                </div>
                <p class="lblError" *ngIf="signupForm.get('user_name').hasError('required')
                            && !signupForm.get('user_name').pristine">
                    Userame is Required
                </p>
                <p class="lblError" style="color:blue" *ngIf="(signupForm.get('user_name').status == 'PENDING' && !signupForm.get('user_name').pristine)">Checking...</p>
                  <p class="lblError" style="color:green" *ngIf="(signupForm.get('user_name').status == 'VALID'  && !signupForm.get('user_name').pristine && (!signupForm.get('user_name').value == '' ))">Username is Available</p>
                  <p class="lblError" style="color:red" *ngIf="signupForm.get('user_name').hasError('duplicateUserName')">Userame is already Taken</p>
              </div>
        </div>

        <div class="form-row">
          <div class="col-sm-12 col-lg-6">
            <div class="form-group">
              <!-- E-mail -->
              <label for="email">E-mail: <span class="lblError">*</span></label>
              <div class="controls">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                      </span>
                    </div>
                    <input type="email" id="email" placeholder="E-mail" class="form-control" formControlName="user_email">
                    
                  </div>
                  <p class="lblError" *ngIf="signupForm.get('user_email').hasError('required') && !signupForm.get('user_email').pristine">
                    Please provide your E-mail
                  </p>
                  <p class="lblError" *ngIf="signupForm.get('user_email').hasError('pattern') && !signupForm.get('user_email').pristine">E-mail is Invalid</p>

                  <p class="lblError" style="color:blue" *ngIf="(signupForm.get('user_email').status == 'PENDING' && !signupForm.get('user_email').pristine)">Checking...</p>
                  <p class="lblError" style="color:green" *ngIf="(signupForm.get('user_email').status == 'VALID'  && !signupForm.get('user_email').pristine && (!signupForm.get('user_email').value == '' ))">Email is Available</p>
                  <p class="lblError" style="color:red" *ngIf="signupForm.get('user_email').hasError('duplicateEmail')">Email is already registered</p>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-lg-6">
            <div class="form-group">
              <!-- Mobile -->
              <label for="phone">Phone <span class="lblError">*</span></label>
              <div class="controls">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                    </span>
                  </div>
                  <input type="number" id="phone" placeholder="Phone" class="form-control" formControlName="user_phone">
                  
                </div>
                <p class="lblError" *ngIf="signupForm.get('user_phone').hasError('required') && !signupForm.get('user_phone').pristine">
                  Phone is Required
                </p>
                <p class="lblError" *ngIf="signupForm.get('user_phone').hasError('min') || signupForm.get('user_phone').hasError('max')">
                  Phone must be of 10 digits
                </p>
                <p class="lblError" style="color:blue" *ngIf="(signupForm.get('user_phone').status == 'PENDING' && !signupForm.get('user_phone').pristine)">Checking...</p>
                  <p class="lblError" style="color:green" *ngIf="(signupForm.get('user_phone').status == 'VALID'  && !signupForm.get('user_phone').pristine && (!signupForm.get('user_phone').value == '' ))">Phone is Available</p>
                  <p class="lblError" style="color:red" *ngIf="signupForm.get('user_phone').hasError('duplicatePhone')">Phone is already registered</p>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row" formGroupName="password_group">
            <div class="col-sm-12 col-lg-6">
              <div class="form-group">
                <div class="control-group">
                  <!-- Password -->
                  <label for="password">Password: <span class="lblError">*</span></label>
                  <div class="controls">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                      </div>
                      <input [type]="fieldTextType ? 'text' : 'password'" id="password" placeholder="Password" class="form-control" formControlName="user_password">
                      <div class="input-group-append">
                        <span class="input-group-text">
                           <i class="fa"
                           [ngClass]="{
                             'fa-eye-slash': !fieldTextType,
                             'fa-eye': fieldTextType
                           }" (click)="toggleFieldTextType()" aria-hidden="true"></i>
                        </span>
                      </div>
                    </div>
                    <p class="lblError" *ngIf="signupForm.get('password_group').get('user_password').hasError('required') && !signupForm.get('password_group').get('user_password').pristine">
                      Password is Required
                    </p>
                    <p class="lblError" *ngIf="signupForm.get('password_group').get('user_password').hasError('minlength')">
                      Password must be minimum of 7 characters
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6">
              <div class="form-group">
                <div class="control-group">
                <!-- Password (Confirm)-->
                <label for="password_confirm">Confirm Password: <span class="lblError">*</span></label>
                  <div class="controls">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                      </div>
                      <input [type]="fieldTextType1? 'text':'password'" id="password_confirm" placeholder="Confirm Password" class="form-control" formControlName="user_confirmPassword">
                      <div class="input-group-append">
                        <span class="input-group-text">
                           <i class="fa"
                           [ngClass]="{
                             'fa-eye-slash': !fieldTextType1,
                             'fa-eye': fieldTextType1
                           }" (click)="toggleFieldTextType1()" aria-hidden="true"></i>
                        </span>
                      </div>
                    </div>
                    <p class="lblError" *ngIf="signupForm.get('password_group').hasError('passwordMatchError')
                    && !signupForm.get('password_group').get('user_confirmPassword').pristine">
                    Password doesn't Match
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6">
              <input type="checkbox" name="colorCheckBox" id="checkbox" style="margin-right: 10px;" (click)="supplierInfo()" ><label>Are you a medicine supplier?</label>
            </div>
        </div>

        <div class="form-group" *ngIf="checked" formGroupName="supplierInfo_group">
          <div class="Address">
            <!-- City -->
            <div class="form-group">
              <label for="inputAddress">Medical Store Name :</label><span class="lblError"> *</span>
              <input type="text" class="form-control" id="inputStoreName" placeholder="Store name" formControlName="user_storeName">
              <p class="lblError" *ngIf="signupForm.get('supplierInfo_group').get('user_storeName').hasError('required') && !signupForm.get('supplierInfo_group').get('user_storeName').pristine">
                Store Name is Required
              </p>
            </div>
            <div class="form-group">
              <label for="inputAddress2">Address :</label><span class="lblError"> *</span>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" placeholder="City" formControlName="user_city">
                <p class="lblError" *ngIf="signupForm.get('supplierInfo_group').get('user_city').hasError('required') && !signupForm.get('supplierInfo_group').get('user_city').pristine">
                  City is Required
                </p>
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <input type="text" id="inputState" class="form-control" placeholder="State" formControlName="user_state">
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Pincode</label>
                <input type="text" class="form-control" id="Pincode" placeholder="Pincode" formControlName="user_pin">
                <p class="lblError" *ngIf="signupForm.get('supplierInfo_group').get('user_pin').hasError('required') && !signupForm.get('supplierInfo_group').get('user_pin').pristine"></p>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-success" type="submit" [disabled]="signupForm.invalid" (click)="login()">
            Sign Up
          </button>
        </div>

        <p>Already have an account?<a class="btn" style="margin-left: 5px;" (click)="login()">Log in</a></p>

        <div class="Sign_up_options" *ngIf="!checked">
          <p>Continue with : <br></p>
          <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>

  </form>
</div>
</div>
