.hero-unit{
    margin-top: 4.3rem;
    background: url("../../assets/img/wengang-zhai-BFB7ydn1-DI-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
}

.hero-text{
    width: 50%;
    position: relative;
    top: 20%;
    text-align: center;
    background-color: rgba($color: #000000, $alpha: 0.3);
    border-radius: 0.4rem;
    height: 45%;
    margin: auto;
    align-items: center;
    justify-content: center;
    
}

.buttons{
    position: relative;
    width: 10%;
    top: 30%;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.row{
    width: 100%;
}
.disc-text{
    width: 60%;
    height: 60%;
    background-color: rgba($color: #000000, $alpha:0.3);
    text-align: center;
    padding: 10%;
    margin: auto;
    margin-top: 4rem;
}

.discounts{
    background-color: aquamarine;
}

.service-logo{
    text-align: center;
    margin: auto;
}

.service-text{
    margin: 3rem 0;
}




//media queries
@media all and(max-width:653px){

    .hero-unit{
        height: 25rem;
    }
    .hero-text{
        width: 80%;
        top: 35%;
        height: 40%;
    }

    .hero-text h1{
        font-size: 40px;
    }

    .buttons{
        top: 45%;
    }

    .buttons button{
        margin-right: 1rem;
    }
}